<html>
<head>
  <title>TUNE Partner Center</title>

  <% if (localDev) { %>
  <link rel="stylesheet"
        href="web/css/main.css" />
  <% } else { %>
  <link rel="stylesheet"
        href="web/css/vendor.min.css" />
  <link rel="stylesheet"
        href="web/css/platform.min.css" />
  <% } %>

  <link rel="shortcut icon" href="web/images/favicon.ico">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:light,lightitalic,regular,regularitalic,bold,bolditalic|Droid+Sans:regular,bold|Open+Sans:400italic,600italic,700italic,300,400,600,700|Open+Sans+Condensed:300,700|Ubuntu+Mono:400,700|PT+Sans+Caption:400,700">
</head>


  <body class="public"
        id="main">

  <div class="logo-large-centered">
    <a href="<%- loginEndpoint %>">
      <img src="/web/images/Tune_Logo.svg" />
    </a>
  </div>

    <div class="compact-page-large ">
      <div class="partner-terms">
        <h2>
          Partnership Integration Terms
        </h2>
        <div class="legal">

          <p>
            These partnership integration terms (&ldquo;<strong>Partner Terms</strong>&ldquo;)
            serve as the agreement between Tune, Inc., a Delaware corporation formerly known as HasOffers, Inc.,
            and currently doing business as MobileAppTracking, HasOffers, and MobileDevHQ
            (&ldquo;<strong>We</strong>,&ldquo; &ldquo;<strong>Us</strong>,&ldquo; or 
            &ldquo;<strong>Our</strong>&ldquo;) and You (&ldquo;<strong>You</strong>&ldquo;,
            &ldquo;<strong>Your</strong>&ldquo; or &ldquo;<strong>Partner</strong>&ldquo;). You and We are each
            a &ldquo;<strong>Party</strong>&ldquo; and collectively referred to herein as the 
            &ldquo;<strong>Parties</strong>.&ldquo; These Partner Terms
            are effective as of the date You click &ldquo;Submit Integration for Review&ldquo; below.
          </p>

          <p>
            You agree to the Partner Terms on behalf of the Partner and represent that You have the
            authority to bind the Partner to these terms.
          </p>

          <div class="terms-list">
            <span>Upon acceptance of these Partner Terms, We agree to:</span>
            <ol>
              <li>Publicize the Parties' partnership on the Tune, MobileAppTracking, HasOffers, and/or MobileDevHQ
                  websites, as applicable, to notify Our clients that they are able to integrate with You;
              </li>
              <li>Use best efforts to measure all clicks and impressions within 30 seconds of notification;</li>
              <li>Use best efforts to resolve discrepancies and technology issues internally prior to reaching out to You for support; and</li>
              <li>Provide ongoing support for Your clients' integrations with Us to the extent that the support provided is related to the integration.
              </li>
            </ol>
          </div>

          <div class="terms-list">
            <span>Upon acceptance of these Partner Terms, You agree to:</span>
            <ol>
              <li>
                Publicize the Parties' partnership on Your websites, as appropriate, to notify Your clients
                that they are able to integrate with Us;
              </li>
              <li>
                Notify Us of all clicks and impressions of ads within 30 seconds of each actual
                click or impression by the user, as applicable;
              </li>
              <li>
                Use best efforts to allow Us to collect cost data, either by (1) specifying the cost of
                each impression or click request, or (2) providing an API to allow Us to consume cost
                data at least once per day;
              </li>
              <li>
                Provide Us with at least the same amount of access to APIs and related resources as
                provided to other third parties integrated with You;
              </li>
              <li>
                Comply with Our technical integration documentation, including Our
                <a target="_blank" href="http://support.mobileapptracking.com/entries/64465914-Our-Advertising-Partner-Best-Practices">
                  recommended advertising partner best practices</a>
                for proper use of Our measurement URLs;
              </li>
              <li>
                Use best efforts to resolve discrepancies and technology issues internally prior to reaching
                out to Us for support; and
              </li>
              <li>
                Provide ongoing support for Our clients' integrations with You to the extent that the
                support provided is related to the integration.
              </li>
            </ol>
          </div>

          <h3>SEPARATE AGREEMENTS WITH YOUR CLIENTS</h3>

          <p>
            You must obtain separate agreements with Your clients that govern Your relationship with them.
            You understand that Our contractual relationship and obligations only extend to You, and that
            We have separate agreements that govern Our relationship with each of the Parties' mutual clients.
            You acknowledge that We are not responsible for any liabilities arising from disputes between
            You and Your clients, including but not limited to disputes relating to measured attributions
            caused by noncompliance with Our technical integration documentation, such as Our
            <a target="_blank" href="http://support.mobileapptracking.com/entries/64465914-Our-Advertising-Partner-Best-Practices">
              recommended advertising partner best practices
            </a>
            for proper use of Our measurement URLs, or outside the scope of Your agreements with Your clients.
            Further, You understand that You do not obtain any rights to Our clients' intellectual property
            (including, but not limited to, their data) pursuant to these Partner Terms.
          </p>

          <h3>CONFIDENTIALITY</h3>

          <h4>Confidential Information.</h4>
          <p>
            You acknowledge that the Parties may be required to disclose Confidential Information to carry
            out these Partner Terms. "Confidential Information" refers to certain information
            that You or We reasonably regard as proprietary or confidential, including all end user data
            provided by either Party, relating to Your or Our business, customers, products, proposed products,
            plans, inventions, processes and techniques.
          </p>

          <h4>Obligations of Confidentiality.</h4>
          <p>
            If a Party receives any Confidential Information from the other Party, the Parties will hold in
            confidence and not use or disclose any such Confidential Information (except in accordance with
            these Partner Terms and as necessary to the Parties employees or third parties who have agreed
            in writing to non-disclosure terms at least as protective as the provisions of this Section,
            and who are required to have access to the Confidential Information in order to comply with
            these Partner Terms). The foregoing obligations shall not apply to the extent that Confidential
            Information: (i) must be disclosed to comply with any requirement of law or order of a court or
            administrative body; (ii) is known to or in Your or Our possession prior to receiving the disclosure
            of such Confidential Information as documented by notes or records; (iii) is known or generally
            available to the public through no act or omission of You or Us or Your or Our representatives in
            breach of these Partner Terms; or (iv) is made available free of any legal restriction by a third
            party. The duties and requirements under this Section shall survive termination of these Partner Terms.
          </p>

          <h3>MUTUAL REPRESENTATIONS AND WARRANTIES</h3>
          <p>
            Each Party represents and warrants that: (i) it has all requisite legal and corporate power to enter
            into these Partner Terms; (ii) it has no agreement or understanding with any third party that
            interferes with or will interfere with performance of its obligations under these Partner Terms;
            (iii) its business and performance under these Partner Terms are and shall be in compliance with
            all applicable domestic and foreign laws, rules, ordinances and regulations, including without
            limitation the Children's Online Privacy Protection Act of 1998 and laws respecting intellectual
            property rights, privacy rights, rights of publicity and U.S. export-control laws; (iv) it has
            taken commercially reasonable efforts to protect the data of the other Party and the data of
            the other Party's client; and (v) it has not gained and will not attempt to gain unauthorized
            access to the other Party's data centers or computer systems, or engage in any activity that
            disrupts, diminishes, or interferes with the performance of the other Party's business functions.
          </p>

          <h3>MUTUAL INDEMNIFICATION</h3>
          <p>
            Each Party, at each Party's own expense, will defend, indemnify and hold the other Party
            (and its subsidiaries, vendors and suppliers) harmless from and against any losses, damages,
            liabilities, penalties, costs and expenses, including without limitation reasonable attorneys'
            fees, and pay any settlement amounts or awarded damages arising out of any third party claim,
            suit or action to the extent that such claim, suit or action is based upon an allegation that:
            (i) either Party's performance of any of its obligations contemplated under these Partner Terms
            infringe on any rights of any third party (including, without limitation, any intellectual property
            rights, privacy rights or publicity rights); or (ii) either Party has breached any of its obligations,
            representations or warranties hereunder. The foregoing obligations are conditioned on the Party
            requesting indemnification promptly notifying the other Party in writing of such claim.
          </p>

          <h3>TERMINATION</h3>
          <p>
            You or We may terminate these Partner Terms for cause or convenience at any time with three (3) days'
            prior written notice to the other Party (with email to
            <a href="mailto:legal@tune.com">legal@tune.com</a> and
            <a href="mailto:support@mobileapptracking.com">support@mobileapptracking.com</a> sufficing);
            provided, however, that We may suspend You from Our partner integration platform if You are in
            material noncompliance with Our technical integration documentation and have failed to cure such
            noncompliance within twenty-four (24) hours of notice.
          </p>

          <h3>ASSIGNMENT</h3>
          <p>
            Neither You nor We may assign or transfer these Partner Terms or any rights or obligations hereunder
            without the prior written consent of the other Party.
          </p>

          <h3>DISCLAIMERS</h3>
          <p>
            Except as expressly set forth herein, to the fullest extent of all applicable laws, Our websites
            (including all information thereon), services and platforms are provided by Us as a neutral host
            and on an "as is" basis, and We disclaim (i) all representations or warranties, expressed or implied,
            relating to these Partner Terms, including an implied warranties of merchantability, fitness for a
            particular purpose or arising from course of dealing or course of performance; (ii) any warranty
            that Our platforms, products, services or information will operate uninterrupted, error-free, or
            that the servers are free of viruses, spyware, malware or other harmful components; and (iii)
            liability for any third party's security methods and protection procedures. Further, we make no
            representation or warranty with respect to any results obtainable through the services and/or
            associated products. You must use industry-recognized software to detect and disinfect viruses
            from any download. No advice or information, whether verbal or written, that We give shall create
            any warranty, representation and/or guarantee not expressly stated herein.
          </p>
          <p>
            You acknowledge and agree that there are risks associated with utilizing an Internet-based service
            including, but not limited to, the risk of failure of hardware, software and Internet connections,
            the risk of malicious software introduction, and the risk that third parties may obtain unauthorized
            access to information stored within Your account, including, but not limited to Your data. You are
            solely responsible for backing up and maintaining duplicate copies of any information You store or
            transfer through our services. These Partner Terms are not intended to create an exclusive arrangement
            between the Parties, and these Partner Terms shall not restrict either Party from entering into
            similar arrangements with other parties.
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
