<html>
<head>
  <title>TUNE Partner Center</title>

  <% if (localDev) { %>
  <link rel="stylesheet"
        href="web/css/main.css" />
  <% } else { %>
  <link rel="stylesheet"
        href="web/css/vendor.min.css" />
  <link rel="stylesheet"
        href="web/css/platform.min.css" />
  <% } %>

  <link rel="shortcut icon" href="web/images/favicon.ico">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:light,lightitalic,regular,regularitalic,bold,bolditalic|Droid+Sans:regular,bold|Open+Sans:400italic,600italic,700italic,300,400,600,700|Open+Sans+Condensed:300,700|Ubuntu+Mono:400,700|PT+Sans+Caption:400,700">
</head>


<body class="public"
      id="main">

  <div class="logo-large-centered">
    <a href="<%- loginEndpoint %>">
      <img src="/web/images/Tune_Logo.svg" />
    </a>
  </div>
  <form id="accept"
        class="compact-page-large"
        action="/accepted">

    <div class="legal">
      <p>
        TUNE strives to make the mobile marketing ecosystem better, for everyone. To
        ensure that advertisers and advertising partners understand how they can efficiently
        and effectively manage their campaigns with TUNE, please review our
        <a target="_blank"
           href="http://support.mobileapptracking.com/entries/64465914-MobileAppTracking-Advertising-Partners-Campaign-Best-Practices">
          Advertising Partner Best Practices</a> support documentation.
      </p>
      <p>
        Use of the Partner Portal requires acceptance of our
        <a target="_blank" href="/partnerTerms">partnership integration terms</a>;
        you will not be able to access the Portal until these terms have been accepted.
        Please review the <a target="_blank" href="/partnerTerms">partnership integration terms</a> and click
        “Accept Terms & Continue” below to acknowledge acceptance of these terms
        and compliance with our best practices.
      </p>
      <p>
        Questions or concerns? Contact us at
        <a href="mailto:contracts@tune.com">contracts@tune.com</a>.
      </p>
    </div>

    <div class="form-footer">
      <button class="primary button accept-button" type="submit">Accept Terms & Continue</button>
    </div>
  </form>
</body>
</html>
